<section id="about" class="about">

  <div class="container" style="padding-top:5ex;">

    <div class="section-title">
      <h2>{{ site.data.t.header.about[page.lang] }}</h2>
    </div>


    <div class="row">
      {% for about in site.data.t.about.about.list %}
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <h4 class="about-title" style="font-family:sans-serif">
            <i class="{{ about.icon }}" style="font-size: 1.5em; margin-right: 10px;"></i>
            {{about.header[page.lang]}}
          </h4>
          <p>{{about.description[page.lang]}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</section>

