<section id="services" class="services">
  <div class="container" style="padding-top:5ex;">

    <div class="section-title">
      <h2>{{ site.data.t.services.services[page.lang] }}</h2>
    </div>

    <div class="row">
      {% for service in site.data.t.services.services.list %}
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <h4 class="service-title" style="font-family:sans-serif">{{service.header[page.lang]}}</h4>
          <div class="icon">
            <i class="{{ service.icon }}"></i>
          </div>
          <p>{{service.description[page.lang]}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>